@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --primary-color: rgb(90, 50, 50);
  --primary-darker: rgb(82, 37, 37);
  --background-color: #f5f5f5;
  --background-darker: #a49e9e;
}

body {
  background-color: var(--background-darker);
  font-family: "Poppins", sans-serif;
  text-align: center;
  border: 4px solid var(--primary-color);
  margin: 1rem;
  padding: 1rem;
}

p {
  font-size: larger;
  color: var(--primary-color);
}

.dark-mode {
  background-color: #333;
  color: #ddd;
}

.dark-mode button {
  background-color: #555;
}
